@import url("https://fonts.googleapis.com/css?family=Teko|Abel");


h1 {
  font-size: 50px;
  font-family: 'Teko', sans-serif;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 0px;
  padding-left: 0px;
  color: white;
}

#motto {
  font-family: 'Teko', sans-serif;
  text-align: center;
  font-size: 20px;
  padding-bottom: 50px;
  padding-left: 0px;
  color: white;
  padding-top: 0px;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.manner {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #0073e6;
  display: block;
  font-family: "Abel", sans-serif;
}

.manner:hover {
  color: white;
}

.active{
    color: white;
}

.main {
  margin-left: 250px; /* Same as the width of the sidenav */
  /* font-size: 28px; */
  padding: 0px 10px;
}

.icons {
    bottom: 10px;
    position: fixed;
    text-align: center;
}

i {
  padding-left: 30px;
}


/*
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
} */
